/* style.css */

/* General styling for body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styling for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is above other content */
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top : 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styling */
main {
    padding: 60px 20px;
    text: center; /* Ensure content doesn't overlap with fixed header */
}
.hero{
    background:#A9A9A9;
    text-align: center;
    padding-top: 4%;
    height: 6rem;
    color : white;
    
    
}
.heroone{
    padding-bottom : 10%;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 200px;
    margin: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
  }